body {
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-x: hidden !important;
    background: url(../assets/img/fondo.png) no-repeat;
    background-size: cover !important;
    background-color: #192945 !important;
    height: 100vh !important;
    width: 100% !important;
    color: #ffffff !important;
  }
fieldset {
    border: 0px !important;
}
.MuiCheckbox-colorPrimary.Mui-checked {
    color: #3f9dd5 !important;
}
.MuiOutlinedInput-input {
    padding: 10.5px 14px !important;
}

.MuiCheckbox-colorPrimary{
    color: #3f9dd5 !important;
}
.footerMessage {
    background-color: #dddddd;
    color: #1d1d1d;
    text-align: center;
}

.navBar {
    background-color: #00062a;
    color: #ddfeff;
}

.title {
    flex-grow: 1;
}

.loginButton {
    background-color: #eeeeee;
    color: #1d1d1d;
}

.loginButton:hover {
    color: #eeeeee;
    background-color: #1d1d1d;
}

.sessionButton {
    color: #ffffff,
}


